.flattened-pom.xml
*.iml
/.idea/
/projects/tm-pacs-core/routingDm/
/projects/tm-pacs-core/src/test/resources/test.data/brol
/projects/tm-pacs-core/src/test/resources/test.data/dicomSend/
/projects/tm-pacs-core/src/test/resources/test.data/logger.telemis.cfg
/projects/tm-pacs-core/src/test/resources/test.data/telemis/entity/tms/dailyactions/CheckBackEndUpgradeDailyActionTest/Files/TMRHE/
/projects/tm-pacs-core/src/test/resources/test.data/telemis/entity/tms/dailyactions/CheckBackEndUpgradeDailyActionTest/Lists/
/projects/tm-pacs-core/src/test/resources/test.data/test.txt
/projects/tm-pacs-core/temp/
/projects/tm-pacs-core/generatedKeys/
/projects/tm-upgrade/temp/
/projects/tm-vtk/build/
/projects/tm-vtk/tm-vtk-server/lib/
/projects/tm-web/tm-publisher-ohif/src/main/Viewers-release/node/
dependency-reduced-pom.xml
target/
