@use '@angular/material' as mat;
@use '@fontsource/material-icons';

html { color-scheme: dark; }

html {
  @include mat.theme((
    color: (
      primary: mat.$green-palette,
      theme-type: dark,
    ),
    typography: 'Inter, system-ui, sans-serif',
    density: 0,
  ));
}

* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
body {
  font-family: Inter, system-ui, sans-serif;
  background: #0e0f11;
  color: #d1d0c7;
}

a { color: #5DCAA5; }
